{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<main>
    <div>
        <div>
            <h2>Votre commande est un échec</h2>
        </div>
        <div>
            <p>Recommencer le paiement </p>
            <a class="nav-link" href="https://127.0.0.1:8000/cart"><button class="btn btn-lg btn-primary ">MON PANIER</button></a>
        </div>
    </div>
</main>
{% endblock %}