{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}



{% block body %}
<main>
    <div>
        <div>
            <h2>Votre commande a bien été enregistée</h2>
        </div>
        <div>
            <a class="nav-link" href="http://127.0.0.1:8000/"><button class="btn btn-lg btn-primary ">PAGE D'ACCUEIL</button></a>
        </div>
    </div>
</main>

{% endblock %}