{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}



{% block body %}
<main>
    <div>
        <div class= "h1-home">
            <h1>Votre commande a bien été enregistée</h1>
        </div>
        <div class="d-flex justify-content-center" >
            <a class="nav-link" href="http://127.0.0.1:8000/"><button class="btn btn-lg btn-customrecap ">PAGE D'ACCUEIL</button></a>
        </div>
    </div>
</main>

{% endblock %}